.fondo {
  background-image: linear-gradient(black, #051a00);
}
.padding {
  padding: 1%;
  margin: 3rem;
}
.degrade {
  background-image: linear-gradient(black, #051a00);
}
.matrix {
  font-family: "Rock Salt";
}
.border1 {
  border-style: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  margin-bottom: 8px;
}

/*  */
